{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist_two != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist_two == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% endif %}">
        <img src="{{'CPC-logo_white.png' | asset_url}}" id="footer-logo"/>
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="site-footer__linklist" style="margin-top: 20px;">
            {% for link in linklists[footer_linklist].links %}
            <li class="site-footer__linklist-item"><a href="/pages/prostate-cancer">About Prostate Cancer</a></li>
            <li class="site-footer__linklist-item"><a href="/pages/diagnosis">Testing & Diagnosis</a></li>
            <li class="site-footer__linklist-item"><a href="/pages/treatment-options">Treatment Options</a></li>
            <li class="site-footer__linklist-item"><a href="/pages/about-us">About Chicago Prostate Cancer Center</a></li>
            <li class="site-footer__linklist-item"><a href="/pages/location">Directions to CPCC</a></li>
            <li class="site-footer__linklist-item"><a href="{{'PSA.pdf' | asset_url}}" target="_blank">Download a Brochure</a></li>
            <li class="site-footer__linklist-item"><a href="/pages/FAQ">Frequently Asked Questions</a></li>
            <li class="site-footer__linklist-item"><a href="https://prostateimplant.com/pay-your-bill">Bill Payment</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
         </div>

   <div class="social">
     <a href="/pages/schedule" class="btn-link lightblue" style="margin-left: -15px;">Schedule an Appointment</a>
     <a href="/pages/location"><p>815 Pasquinelli Dr.</br>
       Westmont, IL 60559</p>
     <p>(630) 654-2515</p></a>
     <a href="https://www.facebook.com/ChicagoProstate"><img src="{{'fb-icon.png'| asset_url}}" class="soc-icon"/></a>
     <a href="https://twitter.com/ChicagoProstate"><img src="{{'twitter-icon.png'| asset_url}}" class="soc-icon"/></a>
     <a href="https://prostateimplant.com/blog/"><img src="{{'blog-icon.png'| asset_url}}" class="soc-icon"/></a>
     <a href="https://www.youtube.com/user/ChicagoProstateCtr"><img src="{{'youtube-icon.png'| asset_url}}" class="soc-icon"/></a>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
